.footerContainer {
  position: relative;

  background: #262626;
  bottom: 0;
  align-self: flex-end;

  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 100vw;
  flex-direction: column;
}
.footerContainer > div {
  /* display: grid; */
  width: 80%;
  /* margin: auto; */
}
/* .footerContainer > div * {
  display: grid;
  grid-template-columns: 100%;
  text-decoration: none;
} */
.footerContainer > div:nth-child(2) {
  grid-template-columns: 58% 22% 20%;
  justify-items: space-between;
  margin-top: 60px;
}
.footerContainer > div:nth-child(2) * {
  /* color: #fff; */
}

.footerBlock0 {
  display: flex !important;
  justify-content: space-between;
  align-items: start;
}

@media screen and (max-width: 600px) {
  .footerBlock0 {
    flex-direction: column !important;
    gap: 20px;
  }
}

.footerBlock0 .footerColumn a {
  border-bottom: 0px solid rgba(0, 0, 0, 0);
  text-align: left;
}
.footerBlock0 .footerColumn button a {
  color: #fff;
  font-family: Geologica;
  font-size: clamp(12px, 1.3vw, 24px);
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  white-space: nowrap;
}
.footerBlock0 .footerColumn button svg path {
  fill: #ffffff !important;
}
/* .footerContainer > div:nth-child(3) {
  grid-template-columns: 54% 26% 20%;
  margin-top: 60px;
} */
.footerColumn {
  position: relative;
}
.footerBlock1 .footerColumn a img {
  display: none;
}

/* .youTubeIcon svg {
  width: 100% !important;
} */

.footerColumn > h5 {
  color: #fff;
  font-family: Geologica;
  font-size: clamp(10px, 2vw, 20px);
  font-style: normal;
  font-weight: 600;
  line-height: 120%;
}
.footerBlock0 .footerColumn:not(:nth-child(1)) a:not(:last-child) {
  color: #fff;
  font-family: Geologica;
  font-size: clamp(12px, 1.3vw, 24px);
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  white-space: nowrap;
}
.footerBlock0 .footerColumn:not(:nth-child(1)) > a:last-child {
  color: #cdcdcd;
  font-family: Geologica;
  font-size: 16px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  text-decoration-line: underline;
  margin-top: 20px;
}
.footerBlock0 .footerColumn:not(:nth-child(1)) button > a:last-child {
  color: #cdcdcd;
  font-family: Geologica;
  font-size: 16px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  text-decoration-line: underline;
  margin-top: 20px;
}
.footerBlock1 {
  border-top: 1px solid #626262;
  border-bottom: 1px solid #626262;
  padding-top: 50px;
  padding-bottom: 50px;
}
.footerBlock1 .footerColumn:nth-child(1) {
  max-height: 140px;
}
.footerBlock1 .footerColumn:nth-child(1) p {
  color: #acacac;
  font-family: Geologica;
  font-size: clamp(12px, 1vw, 16px);
  font-style: normal;
  font-weight: 100;
  line-height: 150%;
  margin-top: 0;
}
.footerBlock1 .footerColumn:nth-child(1) h5 {
  height: 28px;
  min-height: 20px;
  display: inline !important;
}
.footerBlock1 .footerColumn:nth-child(1) a,
.footerBlock1 .footerColumn:nth-child(3) a h4 {
  color: var(--Gray-son, #acacac);
  font-family: Geologica;
  font-size: 16px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  margin-top: 0;
  margin-bottom: 0;
}
.footerBlock1 .footerColumn:nth-child(1) a:not(:first-child),
.footerBlock1 .footerColumn:nth-child(3) a:not(:first-child) {
}
.footerBlock1 .footerColumn:not(:nth-child(1)) *:not(:first-child) {
  margin-top: 20px;
  color: var(--Gray-son, #acacac);
  font-family: Geologica;
  font-size: 16px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
}
.footerBlock1 .footerColumn:not(:nth-child(1)) {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.footerColumn > *:nth-child(2) {
  /* margin-top: 20px; */
}
.footerBlock2 .footerColumn:not(:nth-child(2)) a {
  color: var(--White, #fff);
  font-family: Geologica;
  font-size: 16px;
  font-style: normal;
  font-weight: 300;
  line-height: 24px;
  text-decoration-line: underline;
}
.footerContainer > div:nth-child(4) {
  grid-template-columns: 50% 50%;
  margin-top: 20px;
  margin-bottom: 20px;
}
.footerColumn:nth-child(2),
.footerColumn:nth-child(3) {
  color: #fff;
  fill: #fff;
  /* margin-top: 20px; */
}
.footerBlock2 > .footerColumn:first-child p {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  min-width: 100%;
  color: #fff;
  font-family: Geologica;
  font-size: 12px;
  font-style: normal;
  font-weight: 300;
  line-height: 24px;
}
.footerBlock2 > .footerColumn:first-child p span {
  color: #fff;
  font-family: Geologica;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 24px; /* 150% */
  margin-right: 5px;
}
.footerBlock2 > .footerColumn:last-child {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.footerContainer > section:first-child {
  width: 80%;
}
.footerContainer > section:first-child *:first-child * {
  color: #fff;
}
.footerContainer * {
  color: #fff;
}
.footerLeftComponent > a {
  text-decoration: none;
}
.footerCenterBlock {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  width: 85%;
  height: 90%;
}
.footerRightComponent {
  position: relative;
  width: 250px;
  margin-right: 20px;
  height: 100%;
}
.footerRightComponent img {
  object-fit: contain;
}
.footerLeftComponent {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  height: 80%;
}
.footerDawnLeftBlock {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}
.footerDawnLeftBlock p {
  margin-top: 0;
  margin-bottom: 0;
}
.footerLeftComponent > *:first-child {
  font-weight: 600;
  font-size: 2.2vw;
}
.footerLeftComponent > *:nth-child(3) {
}
.leftContacts * {
  display: flex;
  flex-direction: column;
  font-size: 1.3vw;
  text-decoration: none;
  min-width: max-content;
}
.footerDawnLeftBlock > * {
  min-width: max-content;
  font-size: 8px;
}
.leftContacts > *:nth-child(2) {
  margin-top: 5px;
}
.footerDawnLeftBlock > *:last-child {
  margin-left: 10px;
}
.oneSocial {
  position: relative !important;
  display: flex;
  justify-content: center;
  align-items: center;
  width: clamp(20px, 3vw, 40px);
  height: clamp(20px, 3vw, 40px);
  border-radius: 50%;
  background-color: #fecc00;
}
.oneSocial svg > path {
  fill: #262626 !important;
}
.socialRow {
  display: flex !important;
  flex-direction: row;
  flex-wrap: nowrap;
}
.socialRow > *:not(:first-child) {
  margin-left: 5px;
}
.oneSocial svg {
  display: flex;
  flex: auto;
  position: relative !important;
  width: 60%;
  height: auto;
  margin: auto;
}
.oneSocial:nth-child(2) svg {
  transform: translateX(-5%);
}
@media screen and (max-width: 1550px) {
  .footerContainer > div:nth-child(2) {
    grid-template-columns: 45.2% 27% 20%;
    margin-top: 60px;
  }
  .footerColumn > :nth-child(2) {
    margin-top: 0;
  }
  .footerBlock0 .footerColumn:not(:nth-child(1)) a:not(:last-child) {
    color: #fff;
    font-family: Geologica;
    font-size: clamp(12px, 1.3vw, 24px);
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    white-space: nowrap;
  }
  .footerBlock1 .footerColumn:nth-child(1) {
    max-height: 128px;
    height: auto;
  }
}
@media screen and (max-width: 968px) {
  .footerContainer > div:nth-child(2) {
    grid-template-columns: 38.2% 33% 20%;
    margin-top: 60px;
  }
  /* .footerContainer > div:nth-child(3) {
    grid-template-columns: 44% 28% 28%;
    margin-top: 60px;
  } */
}
@media screen and (max-width: 768px) {
  .footerContainer > div:nth-child(2) {
    grid-template-columns: 32.2% 34% 20%;
    gap: 20px;
    margin-top: 60px;
  }
  /* .footerContainer > div:nth-child(3) {
    grid-template-columns: 34% 32% 32%;
    gap: 20px;
    margin-top: 60px;
  } */
  .footerBlock0 .footerColumn button a {
    border-bottom: 0px solid rgba(0, 0, 0, 0);
    text-align: left;
    font-size: clamp(14px, 2vw, 19px);
    min-width: max-content;
    display: flex;
    align-items: center;
  }
}
@media screen and (max-width: 498px) {
  /* .footerContainer > div {
    display: grid;
    width: 96%;
    margin: auto;
  } */
  .oneSocial {
    width: clamp(35px, 3vw, 40px);
    height: clamp(35px, 3vw, 40px);
  }
  .socialRow {
    margin-bottom: 30px;
  }
  .footerContainer *:last-child article a h3,
  .footerContainer *:last-child article a p {
    color: #fff !important;
  }
  /* .footerContainer > div:nth-child(3) {
    display: flex;
    flex-wrap: wrap;
  } */
  .footerContainer > div:nth-child(3) > div:first-child {
    width: 100%;
  }
  .footerContainer > div:nth-child(3) > div:nth-child(2) {
    width: 42vw;
  }
  .footerContainer > div:nth-child(3) > div:nth-child(3) {
    margin-left: 2vw;
    width: 42vw;
  }
  .footerContainer > div:nth-child(4) {
    grid-template-columns: 100%;
  }
  .footerContainer > div:nth-child(2) > div:nth-child(3) {
    margin-left: 5%;
  }
  .footerBlock2 > .footerColumn:last-child a {
    font-size: clamp(10px, 2vw, 16px) !important;
    margin-right: 6%;
  }
  .footerBlock2 > .footerColumn:first-child p span {
    color: #fff;
    font-family: Geologica;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: 24px;
    margin-right: 5px;
  }
  .footerContainer > div:nth-child(2) {
    margin-top: 60px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }
  .footerContainer > div:nth-child(2) > div:first-child {
    width: 70%;
  }
  .footerContainer > div:nth-child(2) button div:first-child {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
  }
  .footerContainer > div:nth-child(2) svg {
    width: 18px !important;
    height: 18px !important;
  }
  .footerBlock0 .footerColumn a {
    border-bottom: 0px solid rgba(0, 0, 0, 0);
    text-align: left;
    font-size: clamp(14px, 2vw, 16px) !important;
    margin-left: 2%;
    min-width: max-content;
  }
  .footerBlock2 > .footerColumn:first-child p {
    font-size: 12px;
  }

  .footerBlock1 .footerColumn:nth-child(1) p {
    color: #acacac;
    font-family: Geologica;
    font-size: clamp(14px, 1vw, 16px);
    font-style: normal;
    font-weight: 100;
    line-height: 150%;
  }
  .footerBlock1 .footerColumn:nth-child(1) a {
    margin-top: 10px;
    color: #acacac;
    font-family: Geologica;
    font-size: clamp(12px, 1vw, 16px);
    font-style: normal;
    font-weight: 500;
    line-height: 150%;
    margin-bottom: 5px;
  }
  .footerColumn > h5 {
    color: #fff;
    font-family: Geologica;
    font-size: clamp(20px, 6vw, 20px);
    font-style: normal;
    font-weight: 600;
    line-height: 120%;
  }
  .footerContainer > section:first-child {
    width: 96%;
  }
  .footerCenterBlock {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    width: 55%;
    height: 90%;
  }
  .footerRightComponent {
    position: relative;
    width: 250px;
    margin-right: 0;
    height: 100%;
  }
  .footerLeftComponent > * {
    text-align: center;
  }
  .footerLeftComponent > *:first-child {
    font-weight: 600;
    font-size: 4.2vw;
  }
  .leftContacts * {
    display: flex;
    flex-direction: column;
    font-size: 2.6vw;
    text-decoration: none;
    min-width: max-content;
  }
  .footerBlock2 > .footerColumn:last-child {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-top: 0;
  }
  .footerContainer > section:first-child > div:first-child * {
    color: #fff;
  }
  .footerColumn ะก > :nth-child(2) {
    margin-top: 10px;
  }
}

@media screen and (min-width: 1500px) {
  .leftContacts * {
    font-size: 17px;
  }
  .footerLeftComponent > *:first-child {
    font-size: 30px;
  }
  .footerDawnLeftBlock > * {
    font-size: 13px;
  }
}
