.svgLink {
  width: 60px !important;
}

.partnersContainer {
  position: relative;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  width: 100%;
  height: 60px;
  margin-bottom: 80px;
  align-self: center;
  margin-left: auto;
  margin-right: auto;
}
.partner {
  position: relative;
  min-width: 10%;
}
.partner:first-child {
  margin-left: 0vw;
}
.partner:not(:first-child) {
  margin-left: 1%;
}
.plusesContainer {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 40px;
}
.onePlus {
  padding: 1.2% 1%;
  position: relative;
  display: flex;
  align-items: center;
  width: 30%;
  border-radius: 10px;
  background: #262626;
  user-select: none;
}
.onePlus * {
  user-select: none;
}
.onePlus img {
  width: 10% !important;
}
.onePlus p {
  margin-left: 5%;
  font-size: clamp(12px, 1.3vw, 20px) !important;
}
.onePlus * {
  color: #fff;
  position: relative !important;
}
.headerRow {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 20px;
  margin-bottom: 20px;
}
.headerRow h1 {
  font-size: 2.3vw;
  font-weight: 800;
}
.headerRow p {
  margin-left: 10px;
}
.headerRow * {
  position: relative;
}
.selectedRow {
  display: flex;
  flex-direction: row;
  align-items: center;
  cursor: pointer;
}
.selectedRow:last-child {
  margin-left: 20px;
}
.selectedRow > *:last-child {
  margin-left: 5px;
}
.headerRow .iconBlock {
  width: 3vw;
  height: 3vw;
  max-width: 15px;
  max-height: 15px;
}
.contentpage,
.main {
  animation: opacity 1s 1;
}

.main {
  position: relative;
}


@keyframes opacity {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.contentpage .upBlock {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  margin-top: 50px;
}
.contentpage .upBlock .left {
  min-width: 70%;
}
.contentpage .upBlock .right {
  min-width: 28%;
  margin-left: 2%;
  font-size: 1vw;
}
.contentpage .upBlock h2,
.upBlock strong {
  font-size: 3vw;
  font-weight: 800;
}
.contentpage .upBlock h2 {
  color: #000;
  text-transform: uppercase;
}
.contentpage .upBlock strong {
  color: #ffca18;
}

.advantagesContainer {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 30px;
  margin-bottom: 20px;
}
.advantageItem {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-self: center;
  padding: 5% 5%;
  width: 20%;
  border-radius: 10px;
  background-color: #fff;
}
.advantageItem h3 {
  color: #ffca18;
  font-size: 3vw;
}
.advantageItem p {
  margin-top: 20px;
  width: 60%;
  text-align: center;
  font-size: 1vw;
}
.imagesPageContainer {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 30px;
  margin-bottom: 20px;
}
.imageItem {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 30vw;
  border-radius: 10px;
  overflow: hidden;
  background-color: #fff;
}
.imageItem img {
  object-fit: cover;
  transition: all 1s;
}
.contentpage > h1:first-child {
  margin-top: 20px;
  color: #262626;
  font-family: Geologica;
  font-size: clamp(20px, 2vw, 40px);
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
.deliverypage .fullText {
  width: 100% !important;
  font-size: clamp(14px, 1vw, 16px);
  margin-top: 0;
}
.contentpage .fullText {
  width: 100% !important;
  font-size: clamp(14px, 1vw, 16px);
  margin-top: 0;
}
.deliverypage .fullText ul {
  margin-top: 20px;
  margin-left: 6%;
  margin-bottom: 20px;
}
.deliverypage .fullText p {
  margin-top: 20px;
}
.imageItem img:hover {
  scale: 1.4;
}
.bit50Text {
  width: 75%;
  width: 75%;
  font-weight: 300;
}
.infoContainer:last-child > div:nth-child(2) {
  color: #626262 !important;
  font-family: Geologica !important;
  font-size: clamp(10px, 1vw, 16px) !important;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
}
.mapContainer {
  margin-top: 50px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: nowrap;
}
.mapContainer iframe {
  overflow: hidden;
  border-radius: 10px;
  height: 400px;
  border: none;
  outline: none;
}
.mapContainer iframe:first-child {
}
.mapContainer iframe:last-child {
  width: 100%;
  height: 30vw;
}
.conactsContainer {
  display: grid;
  grid-template-columns: 31% 31% 31%;
  gap: 3%;
  width: 100%;
  margin-top: 50px;
}
.conactsContainer .infoContainer .wrapperTitle {
  min-width: 40%;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  margin-top: 20px;
}
.conactsContainer .infoContainer .wrapperInfoContent {
  margin-top: 10px;
  margin-bottom: 20px;
  font-weight: 500;
}
.conactsContainer .infoContainer {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  width: 100%;
  justify-content: flex-start;
  padding-bottom: 10px;
}
.conactsContainer .infoContainer .wrapperInfoContent span {
  margin-top: 5px;
  margin-bottom: 5px;
  display: block;
}
.infoTitle {
  font-size: clamp(10px, 1vw, 18px);
  font-weight: 500;
  text-align: left;
  color: #262626;
  font-family: Geologica;
  font-style: normal;
  font-weight: 600;
  line-height: 162.5%;
}
.infoContent.forMarginTop p:not(:first-child) {
  margin-top: 10px;
}

.infoContainer:nth-child(1) .infoContent:first-child p:first-child {
  color: #acacac;
  font-family: Geologica;
  font-size: clamp(10px, 1vw, 16px);
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
}
.infoContainer:nth-child(1) .infoContent:first-child p:last-child {
  font-family: Geologica;
  font-size: clamp(10px, 1vw, 16px);
  line-height: 250%;
  font-weight: 600;
}
.infoContainer:nth-child(2) .infoContent *,
.infoContainer:nth-child(2) .infoContent {
  color: #626262;
  font-family: Geologica;
  font-size: clamp(10px, 1vw, 16px);
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
}
.infoContainer:nth-child(2) .infoContent:last-child {
  margin-top: 20px;
}
.fullText {
  margin-top: 40px;
  width: 100%;
}
.fullWidth {
  margin-top: 50px;
  margin-bottom: 50px;
  min-height: 500px;
  width: 100vw;
  transform: translateX(-50%);
  position: relative;
  left: 50%;
}
.darkBlock {
  background: #262626;
}
.fullWidth > section {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  border-radius: 20px;
  margin-top: 2%;
  margin-left: auto;
  margin-right: auto;
  width: 80%;
  margin-bottom: 2%;
}
.fullWidth > section > div:first-child * {
  color: #fff;
}
.fullWidth > section article > a {
  color: #fff !important;
}

/* .navBigButtonsContainer {
  display: flex;
  width: 100%;
  justify-content: space-between;
} */

/* .navBigButtonsContainer * {
  text-decoration: none;
} */

/* .navBigButtonsContainer > article {
  position: relative;
  width: 48%;
  min-height: 450px;
  border-radius: 10px;
  overflow: hidden;
  cursor: pointer;
  transition: all 0.3s;
} */

/* .navBigButtonsContainer > article:hover {
  scale: 1.05;
} */

/* .navBigButtonsContainer > article .toRow {
  display: flex;
  justify-content: space-between;
  padding: 5% 10%;
} */

/* .navBigButtonsContainer > article img {
  width: 80% !important;
  height: auto !important;
  top: 31% !important;
} */

/* .navBigButtonsContainer > article:first-child img {
  left: 20% !important;
} */

/* .navBigButtonsContainer > article:last-child img {
  left: 10% !important;
} */

/* .navBigButtonsContainer > article .toRow h3 {
  color: #fff;
  font-family: Geologica;
  font-size: clamp(10px, 2vw, 34px);
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  text-transform: uppercase;
} */

/* .navBigButtonsContainer > article:first-child {
  background-color: #262626;
} */

/* .navBigButtonsContainer > article:last-child {
  background-color: #fecc00;
} */

.youtubeContainers {
  margin-top: 100px;
  position: relative;
  min-height: 35vw;
  transition: all 0.3s;
}

.youtubeContainers img {
}
.buttonToYouTube {
  position: absolute;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  bottom: 2%;
  right: 2%;
  width: 10%;
  cursor: pointer;
  transition: all 0.3s;
  text-transform: uppercase;
}
.youtubeContainers:hover .buttonToYouTube {
  transform: translate(-34vw, -15vw);
}
.buttonToYouTube:hover {
}
.buttonToYouTube *:not(svg) {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  min-width: max-content;
}
.buttonToYouTube a {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  color: #fff;
  min-width: 65%;
  margin-left: 2%;
  justify-content: flex-end;
  text-decoration: none;
}
.buttonToYouTube h4 {
}
.buttonToYouTube a svg {
  width: 10%;
  margin-left: 5%;
  height: 80%;
}
.fullWidth *:last-child article a h3,
.fullWidth *:last-child article a p {
  color: #fff !important;
}
@media screen and (max-width: 1550px) {
  .fullWidth > section {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    border-radius: 20px;
    margin-top: 2%;
    margin-left: auto;
    margin-right: auto;
    width: 93%;
    margin-bottom: 2%;
  }
}
@media screen and (max-width: 968px) {
  .navBigButtonsContainer > article {
    position: relative;
    width: 48%;
    min-height: 191px;
    border-radius: 10px;
    overflow: hidden;
    cursor: pointer;
    transition: all 0.3s;
    margin-bottom: 24px;
  }
  .onePlus p {
    margin-left: 5%;
    font-size: clamp(11px, 1.3vw, 20px) !important;
  }
}
@media screen and (max-width: 498px) {
  .buttonToYouTube {
    width: 37%;
    margin-bottom: 5px;
  }
  .buttonToYouTube > svg:first-child {
    width: 75px;
  }
  .conactsContainer {
    display: grid;
    grid-template-columns: 100%;
    grid-gap: 3%;
    gap: 3%;
    width: 100%;
    margin-top: 50px;
  }
  .navBigButtonsContainer {
    display: flex;
    width: 100%;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  .bit50Text {
    width: 100%;
  }
  .navBigButtonsContainer > article {
    position: relative;
    width: 100%;
    min-height: 250px;
    border-radius: 10px;
    overflow: hidden;
    cursor: pointer;
    transition: all 0.3s;
  }
  .navBigButtonsContainer > article:last-child {
    margin-top: 20px;
  }
  .partnersContainer {
    position: relative;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    width: 100vw;
    height: 53px;
    margin-bottom: 30px;
    align-self: center;
    margin-left: auto;
    margin-right: auto;
    transform: translateX(0%);
    padding: 0;
  }
  .partner {
    position: relative;
    min-width: 23%;
  }
  .headerRow h1 {
    font-size: 5.3vw;
    font-weight: 800;
  }
  .navBigButtonsContainer > article .toRow h3 {
    color: #fff;
    font-family: Geologica;
    font-size: clamp(34px, 2vw, 34px);
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    text-transform: uppercase;
  }
  .navBigButtonsContainer > article .toRow {
    display: flex;
    justify-content: space-between;
    padding: 5% 4%;
    align-items: center;
  }
  .plusesContainer {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-bottom: 40px;
  }
  .onePlus p {
    font-size: 11px;
  }
  .onePlus {
    padding: 1.2% 1%;
    position: relative;
    display: flex;
    align-items: center;
    width: 98%;
    border-radius: 10px;
    background: #262626;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    min-height: 40px;
  }
  .youtubeContainers {
    margin-top: 60px;
    position: relative;
    min-height: 35vw;
    transition: all 0.3s;
  }
  .onePlus:not(:first-child) {
    margin-top: 10px;
  }
  .contentpage .upBlock {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: flex-start;
    margin-bottom: 20px;
  }
  .contentpage .upBlock h2,
  .upBlock strong {
    font-size: 5vw;
    font-weight: 800;
  }
  .contentpage .upBlock .right {
    min-width: 28%;
    margin-left: 0;
    font-size: 3vw;
    width: 65%;
  }
  .advantagesContainer {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top: 30px;
    margin-bottom: 20px;
  }
  .advantageItem {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-self: center;
    padding: 5% 5%;
    width: 91%;
    border-radius: 20px;
    margin: auto;
    background-color: #fff;
  }
  .advantageItem {
    margin-top: 40px;
  }
  .advantageItem h3 {
    color: var(--orange, #ffca18);
    font-size: 8vw;
  }
  .advantageItem p {
    margin-top: 20px;
    width: 60%;
    text-align: center;
    font-size: 4.8vw;
  }
  .infoTitle {
    padding: 11px 2px 11px 0;
    border: 2px solid rgba(0, 0, 0, 0);
    border-radius: 40px;
    font-size: clamp(12px, 2vw, 16px);
    font-weight: 500;
  }
  .conactsContainer .infoContainer {
    display: flex;
    flex-wrap: nowrap;
    width: 100%;
    justify-content: flex-start;
    border-bottom: 2px solid rgba(0, 0, 0, 0.3);
    padding-bottom: 10px;
    flex-direction: column;
  }
  .conactsContainer .infoContainer .wrapperTitle {
    min-width: 40%;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    min-height: 32px;
    margin-top: 20px;
    margin-bottom: 0;
  }
  .conactsContainer .infoContainer .wrapperInfoContent {
    margin-top: 0;
    margin-bottom: 20px;
    font-weight: 500;
    margin-left: 0;
  }
  .mapContainer {
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-wrap: nowrap;
  }
  .mapContainer iframe:first-child {
    width: 100%;
  }
  .mapContainer iframe:last-child {
    width: 100%;
    margin-left: 0;
    margin-top: 20px;
  }
  .mapContainer iframe:last-child {
    width: 100%;
    height: 300px;
  }
  .imageItem {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 300px;
    border-radius: 10px;
    overflow: hidden;
    background-color: #fff;
  }
}

@media screen and (min-width: 1500px) {
  .contentpage .upBlock h2,
  .contentpage .upBlock strong {
    font-size: 40px;
    font-weight: 800;
  }
  .contentpage .upBlock .right {
    font-size: 16px;
  }
}
