.singleProduct {
    display: flex;
    flex-wrap: wrap;
    position: relative;
    width: 100%;
    margin-top: 30px;
}
.singleProductImg {
    position: relative;
    width: 100% !important;
    height: 100%;
    border-radius: 10px;
    overflow: hidden;
    background-color: #fff;
}
.singleProduct > *:nth-child(1) {
    width: 100%;
    /* margin-top: 40px; */
    margin-bottom: 20px;
    color: #262626;
    font-family: Geologica;
    font-size: clamp(14px, 2vw, 25px);
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.singleProduct > *:nth-child(2) {
    width: 45%;
}
.singleProduct > *:nth-child(3) {
    width: 40%;
}
.singleProduct > *:nth-child(4) {
    width: 73%;
    display: flex;
    flex-direction: column;
}
.singleProduct > .downBlock .tabsContainer {
    display: flex;
    justify-content: space-between;
    width: 58%;
    border: 1px solid #ACACAC;
    border-radius: 10px;
    margin-bottom: 2%;
    overflow: hidden;
}
.singleProduct > .downBlock .tabsContainer button {
    text-align: center;
    display: flex;
    justify-content: center;
    border: none;
    background-color: rgba(0,0,0,0);
    padding: 3% 3% 3% 3% !important;
    width: 33%;
    cursor: pointer;
    color: #ACACAC;
    font-family: Geologica;
    font-size: clamp(12px, 1vw, 16px);
    font-style: normal;
    font-weight: 600;
    line-height: 131.25%;
    transition: all .3s;
}
.singleProduct > .downBlock button:hover {
    background-color: #262626;
    color: #FFF;
}
.singleProduct > .downBlock .tabsContainer button:nth-child(1) , .singleProduct > .downBlock .tabsContainer button:nth-child(2){
    border-right: 1px solid #ACACAC !important;
}
.imageBlock {
    position: relative;
    width: 35%;
    min-width: 30%;
    display: flex;
    flex-direction: column;
    background-color: #fff;
}
.sliderThumbs {
    width: 90%;
    overflow-x: scroll;
    overflow-y: hidden;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    scrollbar-width: thin;
    padding-bottom: 20px;
    padding-left: 3%;
}
.sliderThumbs .singleProductImg {
    position: relative;
    min-width: 185px !important;
    height: 136px !important;
    overflow: hidden  !important;;
    background-color: #fff;
    cursor: pointer;
}
.sliderThumbs .singleProductImg img {
    border-radius: 10px !important;
}
.sliderThumbs .singleProductImg:first-child {
    margin-left: 2% !important;
}
*:not(.sliderThumbs) .singleProductImg {
    position: relative;
    width: 100% !important;
    height: 28vw;
    border-radius: 10px;
    overflow: hidden;
    background-color: #fff;
}
.singleProductImg img {
    object-fit: contain;
    width: 87% !important;
    margin: auto;

    transition: all .4s;
}
.singleProductImg img:hover {
    scale: 1.1;
}

/* .singleProductStock {
    margin-bottom: 20px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
} */
/* .singleProductStock > *:first-child {
    color: #262626 !important;
    text-align: center;
    font-family: Geologica;
    font-size: clamp(14px, 2vw, 30px);
    font-style: normal;
    font-weight: 700;
    line-height: 70%;
} */
 .reviewsContainer > p {
    color: #262626 !important;
    font-family: Geologica;
    font-size: clamp(12px, 1vw, 16px);
    font-style: normal;
    font-weight: 400;
    line-height: 162.5%;
    margin-top: 20px !important;
}
/* .singleProductStock > *:last-child {
    margin-left: 6%;
} */
/* .singleProductStock > *:last-child span {
    color: #000;

    font-family: Geologica;
    font-size: clamp(12px, 1vw, 16px);
    font-style: normal;
    font-weight: 700;
    line-height: 131.25%;
} */
.infoBlock {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 50%;
    max-width: 40%;
    margin-left: 5%;
}

.productCardButton {
    position: relative;
    width: clamp(10px, 8%, 18px);
    min-height: 30%;
    height: 100%;
    background: none;
    border: none;
    cursor: pointer;
    transition: all .3s;
    /* z-index: 9999; */
}
.productCardButton:hover {
    scale: 1.1;
}
.downBlock {
    margin-top: 40px;
}
.downBlock > * {
    animation: opacity .3s 1;
}
@keyframes opacity {
    0%{
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
.oneReview {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    border-radius: 10px;
    padding: 1%;
    background-color: #FFF;
}
.oneReview:not(:first-child) {
    margin-top: 20px;
}
.reviewsContainer > p:first-child {
    margin-bottom: 40px;
}
.oneReview > *:nth-child(1) {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    flex-wrap: wrap;
    height: clamp(16px, 3vw, 64px);
    width: 20%;
}
.oneReview > *:nth-child(2){
    align-items: center;
    display: flex;
    justify-content: flex-end;
    margin-right: 0;
    margin-bottom: auto;
    width: 78%;
}
.firstRow {
    display: flex;
    position: relative;
}
.firstRow img {
    position: relative !important;
}
.singleProductAddToCart {
    position: relative;
    height: 3vw;
    z-index: 999;
    width: 90%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    margin-top: 20px;
    margin-bottom: 20px;
    justify-content: space-between;
    min-height: 40px;
    max-height: 50px;
    border-radius: 10px;
    z-index: 9;
}
.productCardQuntity {
    position: relative;
    height: 97%;
    max-height: 88px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    width: 45%;
    border-radius: 10px;
    border: 2px solid rgba(0, 0, 0, 0.40);
}
.productCardQuntity p {
    width: 30%;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.4vw;
    height: 100%;
    margin-top: 0;
    margin-bottom: 0;
}
.addToCartButton {
    border-radius: 10px;
    background: #FFCA18;
    border: none;
    font-size: 1vw;
    display: block;
    justify-self: center;
    align-items: center;
    text-align: center;
    padding: 0 10%;
    height: 100%;
    max-width: 61%;
    font-weight: 600;
    cursor: pointer;
    margin-left: 10px;
    width: 46%;
}
.attrBlock {
    margin-top: 30px;
    margin-bottom: 50px;
    display: none !important;
}
.attrRow {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    width: 57%;
    min-width: 340px;
}
.userAvatarReview {
    width: clamp(16px, 3vw, 64px);
    height:  clamp(16px, 3vw, 64px);
    background-color: #212121;
    border-radius: 10px;
    overflow: hidden;
}
.attrRow:first-child {
    margin-top: 30px;
}
.attrRow:not(:first-child) {
    margin-top: 9px;
}
.reviewsContainer {
    min-height: 200px;
}
.attrRow:last-child {
    margin-bottom: 30px;
}
.attrRow p:nth-child(1) , .attrRow p:nth-child(3) {
    min-width: max-content;
}
.attrRow p:nth-child(3) {
    font-weight: 700;
}
.attrRow p:nth-child(2) {
    border-bottom: 2px dotted #333;
    flex: auto;
}


.callbackBlock {
    width: 35%;
}
.callbackBlock h2{
    color: #262626;
    font-family: Geologica;
    font-size: clamp(12px, 1.3vw, 25px);
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    margin-top: 10px;
    margin-bottom: 20px;
}
.callbackBlock p {
    color: #262626;
    font-family: Geologica;
    font-size: clamp(12px, 1vw, 16px);
    font-style: normal;
    font-weight: 300;
    line-height: normal;
}
.callbackBlock form {
    margin-top: 30px;
}
.callbackBlock form label {
    display: block;
}
.callbackBlock form label:nth-child(3), .callbackBlock form label:nth-child(5) {
    display: block;
    margin-top: 20px;
    margin-bottom: 10px;
}
.callbackBlock form button {
    border-radius: 5px;
    background: #FECC00;
    border: none;
    color: #262626;
    text-align: center;
    font-family: Geologica;
    font-size: clamp(12px, 1vw, 16px);
    font-style: normal;
    font-weight: 600;
    line-height: 131.25%;
    width: 100%;
    margin-top: 20px;
    padding-top: 3%;
    padding-bottom: 3%;
    min-height: 55px;
    transition: all .3s;
    cursor: pointer;
}
.callbackBlock form label {
    color: #626262;
    font-family: Geologica;
    font-size: clamp(12px, 0.8vw, 14px);
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.oneReview h3 {
    width: 100%;
    padding-left: 10px;
}
.reviewsContainer form button {
    margin-top: 10px;
    border-radius: 6px;
    background: #FFCA18;
    border: none;
    font-size: clamp(12px, 0.8vw, 14px);
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 0 10%;
    height: 100%;
    height: 40px;
    max-width: 150px;
    font-weight: 600;
    cursor: pointer;
    margin-left: 0;
    width: 46%;
}
.reviewsContainer form input[type="number"] {
    width: 13px;
    font-size: clamp(12px, 0.8vw, 14px);
    padding: 10px;
    height: 13px;
}
.reviewsContainer form label:nth-child(3) {
    display: block;
    margin-top: 10px;
    margin-bottom: 10px;
    min-width: 100%;
}
@media screen and (max-width: 498px) {
    .sliderThumbs .singleProductImg {
        position: relative;
        min-width: 108px !important;
        height: 80px !important;
        overflow: hidden !important;
        background-color: #fff;
    }
    .sliderThumbs.singleProductImg img {
        border-radius: 10px !important;
        width: 100% !important;
    }
    .sliderThumbs {
        width: 87%;
        overflow-x: scroll;
        overflow-y: hidden;
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        scrollbar-width: thin;
        padding-bottom: 20px;
        padding-left: 6%;
    }
    .singleProduct > :nth-child(3) {
        width: 100%;
    }
    :not(.sliderThumbs) .singleProductImg {
        position: relative;
        width: 100% !important;
        height: 284px;
        border-radius: 10px;
        overflow: hidden;
        background-color: #fff;
    }
    .sliderThumbs .singleProductImg:first-child {
        margin-left: 0 !important;
    }
    .singleProduct {
        display: flex;
        flex-wrap: nowrap;
        position: relative;
        width: 100%;
        flex-direction: column;
        margin-top: 0px !important;
    }
    .singleProduct > :nth-child(1) {
        width: 100%;
        margin-top: 25px;
        margin-bottom: 20px;
        color: #262626;
        font-family: Geologica;
        font-size: clamp(14px, 2vw, 25px);
        font-style: normal;
        font-weight: 400;
        line-height: normal;
    }
    /* .singleProductStock > :last-child span {
        color: #262626;
        font-family: Geologica;
        font-size: 14px;
        font-style: normal;
        font-weight: 700;
        line-height: 150%;
        margin-left: 5px;
    } */
    .singleProduct > :nth-child(4) {
        width: 100%;
        display: flex;
        flex-direction: column;
    }
    /* .singleProductStock> :last-child {
        margin-left: 6%;
        display: flex;
        align-items: center;
        flex-wrap: nowrap;
    } */
    .imageBlock {
        position: relative;
        width: 100%;
        min-width: 100%;
        display: flex;
        height: 331px;
    }
    .singleProductImg {
        position: relative;
        width: 100% !important;
        height: 100%;
        border-radius: 10px;
        overflow: hidden;
        background-color: #fff;
    }
    .infoBlock {
        position: relative;
        display: flex;
        flex-direction: column;
        width: 100%;
        max-width: 100%;
        margin-left: 0;
        margin-top: 16px;
    }
    .singleProductAddToCart {
        position: relative;
        height: 2vw;
        z-index: 999;
        width: 100%;
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        margin-top: 5px;
        margin-bottom: 5px;
        justify-content: space-between;
        min-height: 42px;
        max-height: 42px;
        min-width: 93.3vw;
    }
    .productCardQuntity {
        position: relative;
        height: 100%;
        max-height: 39px;
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: space-evenly;
        width: 45%;
        border-radius: 6px;
        border: 1px solid rgba(0, 0, 0, 0.40);
    }
    /* .singleProductStock {
        margin-bottom: 10px;
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        align-items: center;
    } */
    .productCardQuntity p {
        width: 30%;
        border: none;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 14px;
        height: 100%;
        margin-top: 0;
        margin-bottom: 0;
    }
    .addToCartButton {
        border-radius: 6px;
        background: #FFCA18;
        border: none;
        font-size: 14px;
        display: flex;
        align-items: center;
        text-align: center;
        justify-content: center;
        padding: 0 10%;
        height: 100%;
        max-width: 60%;
        font-weight: 600;
        cursor: pointer;
        margin-left: 10px;
        width: 45%;
    }
    .attrRow {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: space-between;
        width: 100%;
        min-width: 340px;
    }
    .singleProduct > .downBlock .tabsContainer {
        display: flex;
        justify-content: space-between;
        width: 99%;
        border: 1px solid #ACACAC;
        border-radius: 10px;
        margin-bottom: 2%;
        overflow: hidden;
    }
    .singleProduct > .downBlock .tabsContainer button  {
        text-align: center;
        display: flex;
        justify-content: center;
        border: none;
        background-color: rgba(0,0,0,0);
        padding: 4% 2% 3% 2% !important;
        width: 33%;
        cursor: pointer;
        color: #ACACAC;
        font-family: Geologica;
        font-size: clamp(12px, 1vw, 16px);
        font-style: normal;
        font-weight: 600;
        line-height: 131.25%;
        transition: all .3s;
}
   .reviewsContainer > p {
        color: #262626 !important;
        font-family: Geologica;
        font-size: clamp(12px, 1vw, 16px);
        font-style: normal;
        font-weight: 400;
        line-height: 162.5%;
        margin-top: 20px !important;
    }

    .callbackBlock {
        width: 99%;
    }
    .callbackBlock h2 {
        color: #262626;
        font-family: Geologica;
        font-size: clamp(16px, 1.3vw, 25px);
        font-style: normal;
        font-weight: 600;
        line-height: normal;
        margin-top: 20px;
        margin-bottom: 20px;
    }
    .callbackBlock p {
        color: #262626;
        font-family: Geologica;
        font-size: clamp(12px, 1vw, 16px);
        font-style: normal;
        font-weight: 300;
        line-height: normal;
    }
    .callbackBlock form label {
        color: #626262;
        font-family: Geologica;
        font-size: clamp(12px, 0.8vw, 14px);
        font-style: normal;
        font-weight: 400;
        line-height: normal;
    }
    .callbackBlock form button {
        border-radius: 5px;
        background: #FECC00;
        border: none;
        color: #262626;
        text-align: center;
        font-family: Geologica;
        font-size: clamp(12px, 1vw, 16px);
        font-style: normal;
        font-weight: 600;
        line-height: 131.25%;
        width: 100%;
        margin-top: 20px;
        padding-top: 3%;
        padding-bottom: 3%;
        min-height: 55px;
        transition: all .3s;
        cursor: pointer;
    }
}

@media screen and (min-width: 1500px) {
    .productCardQuntity p , .addToCartButton  {
        font-size: 18px;
    }
}
