.serviceContainer {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    flex-shrink: 1;
    flex-grow: 1;
    border-radius: 20px;
}
.serviceContainer .upBlock {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    margin-bottom: 60px;
}
.upBlock .left {
    min-width: 70%;
}
.upBlock .right {
    min-width: 28%;
    margin-left: 2%;
    font-size: 1vw;
}
.upBlock h2, .upBlock strong {
    font-size: 3vw;
    font-weight: 800;
}
.upBlock h2 {
    color: #000;
    text-transform: uppercase;
}
.upBlock strong {
    color: var(--orange, #FFCA18);
}
.serviceContainer .downBlock {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.service {
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    width: 20%;
    margin-left: 1.3%;
    background-color: #fff;
    padding: 2%;
    cursor: pointer;
    transition: all .3s ease-in;
}
.service p {
    max-width: 100%;
    word-break: break-word;
}
.service:first-child, .service:nth-child(4n + 1) {
    margin-left: 0;
}
.service:hover {
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    background-color: #2C2C2C;
    scale: 1.1;
}
.service:hover * {
    color: #fff;
}
.service:hover *:nth-child(1)  {
    transform: rotateZ(90deg);
}
.service * {
    transition: all .3s ease-in;
}
.service *:nth-child(1) {
    margin-top: 5%;
}
.service *:nth-child(2) {
    font-size: 1.8vw;
    margin-top: 4%;
}
.service *:nth-child(3) {
    font-size: 1.2vw;
    margin-top: 4%;
    margin-bottom: 5%;
}
.serviceIco {
    position: relative;
    width: 4vw;
    height: 4vw;
}
.service:nth-child(1), .service:nth-child(5n) {
}
.service:nth-child(n + 5) {
    margin-top: 20px;
}

@media screen and (max-width: 498px) {
    .serviceContainer {
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        flex-shrink: 1;
        flex-grow: 1;
        border-radius: 20px;
        margin-top: 60px;
    }
    .serviceContainer .upBlock{
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        align-items: flex-start;
        margin-bottom: 20px;
    }
    .upBlock h2, .upBlock strong {
        font-size: 5vw;
        font-weight: 800;
    }
    .upBlock .right {
        min-width: 28%;
        margin-left: 0;
        font-size: 3vw;
        width: 65%;
    }
    .service {
        border-radius: 20px;
        display: flex;
        flex-direction: column;
        width: 45%;
        margin-left: auto;
        background-color: #fff;
        padding: 2%;
        cursor: pointer;
        transition: all .3s ease-in;
        margin: auto;
    }
    .serviceIco {
        position: relative;
        width: 10vw;
        height: 10vw;
    }
    .service *:nth-child(2) {
        font-size: 3.8vw;
        margin-top: 4%;
    }
    .service *:nth-child(3) {
        font-size: 3vw;
        margin-top: 4%;
        margin-bottom: 5%;
    }
}

@media screen and (min-width: 1500px) {
    .upBlock h2, .upBlock strong {
        font-size: 40px;
        font-weight: 800;
    }
    .upBlock .right {
        font-size: 16px;
    }
    .service *:nth-child(2) {
        font-size: 22px;
        margin-top: 4%;
    }
    .service *:nth-child(3) {
        font-size: 15px;
        margin-top: 4%;
        margin-bottom: 5%;
    }
    .serviceIco {
        position: relative;
        width: 60px;
        height: 60px;
    }
}
