.sliderContainer {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    position: relative;
    overflow: hidden;
    margin-bottom: 15px;
    border-radius: 17px;
    background: linear-gradient(142deg, rgba(0, 0, 0, 0.39) 0%, rgba(0, 0, 0, 0.00) 100%), lightgray -2.779px -40.945px / 100.373% 130.723% no-repeat;
}

.section,
.sliderItem {
    min-height: clamp(18.75rem, 4.464rem + 29.762vw, 31.25rem);
    border-radius: 20px;
    background-color: #c8c7c7;
}

.sliderItem img {
   display: block;
   margin: 0;
   inset: 2px 0px !important;
}

.sliderItem {
    position: relative;
    display: flex;
    flex-direction: row;
    width: 100%;
    min-width: 100%;
    transition: all 1s;
}

.dotContainer {
    width: 100%;
    height: 50px;
    position: absolute;
    bottom: 0;
    display: flex;
    justify-content: center;
}

.dotContainer>div {
    width: 16px;
    height: 16px;
    background-color: #ffca18;
    cursor: pointer;
    transition: all .3s;
    border-radius: 50%;
    z-index: 9;
}

.dotContainer>div:hover {
    scale: 1.3;
}

.dotContainer>div:not(:first-child) {
    margin-left: 10px;
}

.textSlider button {
    border-radius: 10px;
    border: 2px solid #FECC00;
    font-family: Geologica;
    font-size: clamp(12px, 3.3vw, 17px);
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    padding: 20px 38px;
    background-color: rgba(0, 0, 0, 0);
    color: #FECC00;
    margin-top: 4%;
    cursor: pointer;
    transition: all .3s;
}

.textSlider button:hover {
    background-color: #FECC00;
    color: #fff;
}

.sliderItem>*:not(.sliderBg) {
    position: relative;
    z-index: 3;
}

.sliderBg img {
    filter: brightness(90%)
}

.sliderItem p,
.sliderItem h2 {
    color: #fff;
}

.textSlider button * {
    color: #FECC00 !important;
    text-decoration: none !important;
}

.textSlider button:hover * {
    color: #fff !important;
}

@media screen and (max-width: 498px) {
    .dotContainer {
        width: 100%;
        height: 24px;
        position: absolute;
        bottom: 0;
        display: flex;
        justify-content: center;
    }

    .sliderContainer {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        position: relative;
        overflow: hidden;
        margin-top: 25px;
        margin-bottom: 25px;
        height: 84vh;
        max-height: 240px;
        border-radius: 6px;
        background: linear-gradient(142deg, rgba(0, 0, 0, 0.39) 0%, rgba(0, 0, 0, 0.00) 100%), lightgray -2.779px -40.945px / 100.373% 130.723% no-repeat;
    }

    .textSlider button {
        border-radius: 10px;
        border: 2px solid #FECC00;
        font-family: Geologica;
        font-size: clamp(12px, 3.3vw, 17px);
        font-style: normal;
        font-weight: 600;
        line-height: normal;
        padding: 13px 12px;
        background-color: rgba(0, 0, 0, 0);
        color: #FECC00 !important;
        margin-top: 10px;

        cursor: pointer;
        transition: all .3s;
    }

    .textSlider button * {
        color: #FECC00 !important;
        text-decoration: none !important;
    }

    .sliderItem {
        position: relative;
        display: flex;
        flex-direction: column;
        min-width: 100%;
        transition: all 1s;
    }

    .textSlider {
        margin-left: 5%;
        margin-top: 10%;
        width: 91%;
    }

    .sliderItem h2 {
        font-size: 6.3vw;
        font-weight: bold;
        text-align: left;
    }

    .sliderItem p {
        font-size: clamp(12px, 4.3vw, 16px);
        font-weight: thin;
        text-align: left;
        margin-top: 20px;
    }

    .sliderBg img {
        filter: brightness(40%);
        object-fit: cover;
    }
}

@media screen and (min-width: 1500px) {
    .sliderItem h2 {
        font-size: clamp(18px, 4.5vw, 55px);
        font-weight: bold;
        line-height: 100%;
        margin-bottom: 20px;
    }

    .sliderItem p {
        font-size: 20px;
        font-weight: thin;
    }
}